html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

textarea {
  resize: none;
}

.react-bs-container-body {
  cursor: pointer;
}

#table-container, #editor-container {
  flex: 1;
}

#table-container table {
  margin-bottom: 0px;
}

#editor-container {
  margin-top: 20px;
}

#editor-container {
  position: relative;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.65);
}

.overlay span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
  font-size: 1.6em;
  color: #666666
}

#editor-container.busy form {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#editor-container.busy .overlay {
  visibility: visible;
  transition: visibility 0s, opacity 0s linear;
  opacity: 1;
}

.sub-label .sub-input {
  width: 90%;
  border: none;
  margin: 5px 0px -8px 13px;
  padding: 4px;
  font-size: 13px;
  color: #7b7b7b;
}

#editor-container .glyphicon-remove-circle {
  top: 3px;
  font-size: 1.2em;
  color: #999;
  cursor: pointer;
}

#editor-container .glyphicon-remove-circle:hover {
  color: indianred;
}

.file-list {
  max-height: 280px;
  overflow: auto;
}

.file-icon {
  margin-right: 8px;
}

.file-list thead {
  font-size: 1em;
}

.file-list tbody {
  font-size: 0.9em;
}

.file-open {
  cursor: pointer;
}

.file-list .empty {
  font-style: italic;
  display: flex;
  justify-content: center;
}

.file-list th {
  padding-top: 0 !important;
  padding-bottom: 4px !important;
}

.file-list tr {
  padding: 5px;
}

.file-list .table>tbody>tr>td {
  border-top: none;
}

.file-list .table>tbody>tr:hover {
  background-color: #f5f5f5;
}

.onoffswitch-container {
  display: flex;
  justify-content: center;
  margin-bottom: -16px;
  margin-top: 5px;
}

.amount-inputgroup {
  display: flex;
  justify-content: center;
}

.toggle-button > .btn {
  padding: 14px;
}

.form-horizontal .form-group.date-input-group-right {
  margin-left: 29px;
  padding-right: 0;
}

.item-list th {
  padding-top: 0 !important;
  padding-bottom: 4px !important;
}

.additional-items {
  margin-top: 10px;
}

#editor-container .editor-comment {
  margin-right: 15px;
}

.editor-buttons {
  margin-top: 58px;
}