html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

textarea {
  resize: none;
}

#table-container, #editor-container {
  flex: 1;
}

#table-container table {
  margin-bottom: 0px;
}

#table-container .react-bs-container-body {
  height: 370px !important;
}

#editor-container {
  margin-top: 20px;
}

#editor-container {
  position: relative;
} 

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.65);
}

.overlay span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
  font-size: 1.6em;
  color: #666666
}

#editor-container.busy form {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
#editor-container.busy .overlay {
  visibility: visible;
  transition: visibility 0s, opacity 0s linear;
  opacity: 1;
}