html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#filter-container, #table-container {
  flex: 1;
  padding: 5px;
}

#filter-container {
  margin-bottom: 2px;
}

#table-container table {
  margin-bottom: 0px;
  cursor: pointer;
}

#filter-container select {
  margin-bottom: 8px;
}

.label-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}

.pie-legend {
  list-style-type: none;
}

.pie-legend-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.pie-legend-text {
  margin-left: 9px;
}

.chart-heading {
  font-weight: 500;
}

.panel-container {
  margin-bottom: 20px;
}

.panel-display {
  padding: 1em 1em;
  border-radius: 4px;
  color: white;
  background-color: #337ab7;
}

.panel-value {
  font-size: 2.2em;
}

.panel-title {
  font-size: 1em;
}