html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

#table-container, #editor-container {
  flex: 1;
}

#table-container table {
  margin-bottom: 0px;
}

#table-container .react-bs-container-body {
  height: 370px !important;
}

#editor-container {
  margin-top: 20px;
}