html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#table-container, #editor-container {
  flex: 1;
}

#table-container {
  overflow-y: auto;
}

/* Sticky table header */
/*
thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
}

tbody {
  height: 120px;
  overflow-y: auto;
}

tbody td, thead th {
  width: 19.2%;
  float: left;
}*/