html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#filter-container {
  margin-bottom: .5em;
}

.react-bs-container-body {
  cursor: pointer;
}

#table-container {
  flex: 1;
  margin-bottom: .8em;
}

#table-container table {
  margin-bottom: 0px;
}

.month-container h3 {
  margin-top: 0.5em;
}

.month-total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
}

.month-total.income {
  color: #53c669;
}

.month-total.expenses {
  color: #FF686C;
}

.month-total span {
  border-bottom: 1px dotted #666;
}